
.contact-form-row{
      height: 300px;
      background-color: #f5f5f8;
}
form{
     height:85%;
}

footer{
    background-image: url("http://161.97.148.234/images/map.png");
}
.List, .social-links, .footer-contact-info{
  list-style-type:none;
}
a {
  text-decoration: none !important;
 }
